body{
  padding: 15px;
  /* background-color: hsl(0, 0%, 58%); */
  /* background: rgb(0,10,1); */
  background: linear-gradient(0deg, rgba(0,10,1,1) 0%, rgba(143,149,130,1) 100%);

  overflow: hidden;
}

.green-book{
  position: relative; 
  height: fit-content;
  width: 100vw;
  font-size: 300%;
  color: hsl(110, 27%, 27%);
  padding: none;
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  /* background-color: hsl(110, 27%, 27%); */
  animation: green-book-animation 1s forwards;

  z-index: 3;
}

@keyframes green-book-animation {
  0%{
      /* transform: translateY(500%); */
  }
  30%{
      transform: scale(2);
  }
  100%{
      transform: scale(1);
  }
}